.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  margin-right: 10px;
}

.social-links img {
  width: 30px; /* Adjust the width to your preference */
  height: auto;
}
.portfolio-image {
  width: 2in; /* Adjust the width as needed */
  height: 2.5in; /* Adjust the height as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  /*border-radius: 50%; /* Add rounded corners for a softer look */
  border: 2px solid #5499C7;
.project-image {
	display: block; /* Ensure the image is a block element */
	margin: 0 auto; /* Center the image horizontally */
}